{% extends 'layouts/app.html' %}

{% block title %}Configuracoes da conta{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-5">
      <h2>Configuracoes</h2>
      <h4 class="text-muted margin-bottom">{{ current_user.email }}</h4>

      <div class="list-group">
        <a href="{{ url_for('usuario.update_credentials') }}"
           class="list-group-item">
          Atualizar e-mail e senha
        </a>
        {% if current_user.nome %}
          <span class="list-group-item quarter-faded text-muted">
            Seu nome atual
            <strong>{{ current_user.nome }}</strong>
          </span>
        {% else %}
          <a href="{{ url_for('usuario.welcome') }}"
             class="list-group-item">
            Informe seu nome
          </a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-5 col-md-push-1 col-md-offset-1">
      <h2>Billing</h2>
      <p>Coming soon...</p>
    </div>
  </div>
{% endblock %}
